#sideNav {
	background-color: var(--bg-1);
	position: fixed;
	min-height: 100%;
	top: 0;
	left: 0;
	width: 60px;
	transition: all 0.5s ease-in-out;
	z-index: 999;
}


.top-nav {
	background-color: var(--bg-5) !important;
	width: 100%;
	height: 45px;
	padding: 5px;
	position: relative;

}

.modalSideNav {
	background-color: var(--bg-1);
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 150px;
	transition: all 0.5s ease-in-out;
	z-index: 999;
	padding: 5px;
}

.sub-nav {
	background-color: var(--bg-2);
	position: absolute;
	height: 100vh;
	top: 0;
	left: 138px;
	width: 165px;
	transition: all 0.5s ease-in-out;
	z-index: 999;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {}

@media only screen and (max-width: 1024px) and (orientation: landscape) {}